* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    background-image: radial-gradient(circle, rgba(0,0,0, .5), rgba(0,0,0, .1)),
         url(../img/pexels-pixabay-45230.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Dosis", sans-serif;
    font-size: 100%;
    filter: saturate(115%);
}
header {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 35px;
}
.main {
    text-align: center;
    color: rgb(255, 255, 255);
}
.main > h1 {
    font-size: 287.5%;
    /* Hier definieren wir einen schönen Text-Shadow Effekt (x, y, Größe Shadow, Farbe) */
    text-shadow: 0 0 10px rgb(0,0,0); 
}
.main > p {
    margin-top: 1rem;
    font-size: 150%;
    text-shadow: 0 0 10px rgb(0,0,0);
}

.button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(135, 111, 96);
    padding: 20px 40px;
    display: inline-block;
    border-radius: 10000px;
    margin-top: 4rem;
    font-weight: bold;
    font-size: 175%;
    text-shadow: 0 0 5px rgb(0,0,0);
    letter-spacing: 1px;
}

.button:hover {
   background-image: radial-gradient(circle at 50% 50%, rgba(47, 41, 36,.3) 1%, rgb(135, 111, 96) 1%);
   background-size: 20000% 20000%;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   transition: background-size linear .45s;
}

.button:hover:active {
    transition-duration: 0s;
    background-size: 100% 100%;
}


@keyframes ankunft {
    0% {transform: translate(0, 0);}
    50% {transform: translate(0, 10px);}
    100% {transform: translate(0, 0);}
}
@keyframes fliegen {
    0% { transform: translate(-55vw, 0) scale(.1);}
    0% {opacity: 0;}
    100% {transform: translate(0, 0) scale(1);}
    100% {opacity: 1;}
}


.logo {
    max-width: 200px;
    height: auto;
    animation: fliegen 4s ease-in both, ankunft 2s linear 4.3s infinite;
}

